@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 228, 228, 228;
  --background-focus-rgb: 223, 223, 223;
  --primary-rgb: 0, 0, 0;
  --secondary-rgb: 160, 160, 160;
  --priority-high-rgb: 128, 0, 0;
  --priority-medium-rgb: 255, 165, 0;
  --priority-low-rgb: 7, 48, 35;
  --priority-blank-rgb: 200, 200, 200;
  --deadline-late-rgb: 255, 106, 106;
  --deadline-close-rgb: 252, 191, 141;
  --status-finished-rgb: 221, 255, 221;
  --status-inprogress-rgb: 174, 225, 255;
  --status-todo-rgb: 210, 210, 210;
}

/* LEMBRAR DE MUDAR O ICONE (FAVICON) TAMBEM */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 14, 14, 14;
    --primary-rgb: 255, 255, 255;
    --secondary-rgb: 160, 160, 160;
  }
} */

body {
  color: rgb(var(--primary-rgb));
  background: rgb(var(--background-rgb));
}