@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 250, 250, 250;
  --background-focus-rgb: 240, 240, 240;
  --primary-rgb: 0, 0, 0;
  --secondary-rgb: 100, 100, 100;
  --tertiary-rgb: 150, 150, 150;
  --priority-high-rgb: 160, 10, 10;
  --priority-medium-rgb: 240, 150, 0;
  --priority-low-rgb: 10, 50, 35;
  --priority-blank-rgb: 200, 200, 200;
  --deadline-late-rgb: 235, 205, 205;
  --deadline-close-rgb: 240, 225, 200;
  --deadline-distant-rgb: 230, 230, 230;
  --deadline-finished-rgb: 220, 230, 215;
  --status-finished-rgb: 225, 240, 220;
  --status-inprogress-rgb: 215, 235, 240;
  --status-todo-rgb: 230, 230, 230;
}

body {
  color: rgb(var(--primary-rgb));
  background: rgb(var(--background-rgb));
}